.click-animation {
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  pointer-events: visible;
  animation: clickAnimation 0.1s forwards;
}

@keyframes clickAnimation {
  from {
    opacity: 1;
    transform: scale(0.5);
  }
  to {
    opacity: 0;
    transform: scale(1);
  }
}
