<ng-particles id="particles" [options]="particlesOptions" [particlesInit]="particlesInit"
  (particlesLoaded)="particlesLoaded($event)"></ng-particles>
<div class="box">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2>Login</h2>
    <div class="social-container">
      <button class="social-button"><fa-icon [icon]="['fab', 'facebook']"></fa-icon></button>
      <button class="social-button"><fa-icon [icon]="['fab', 'google']"></fa-icon></button>
      <button class="social-button"><fa-icon [icon]="['fab', 'twitter']"></fa-icon></button>
    </div>
    <div class="inputBox" [class.inputbox-focused]="focusedInput === 1">
      <label [class.label-focused]="focusedInput === 1" for="userEmail">Email</label>
      <input [class.input-focused]="focusedInput === 1" (focus)="focusedInput = 1" (blur)="focusedInput = null"
        type="text" id="userEmail" name="userEmail" placeholder="Email">
    </div>
    <div class="inputBox" [class.inputbox-focused]="focusedInput === 2">
      <label [class.label-focused]="focusedInput === 2" for="userPassword">Password</label>
      <input [class.input-focused]="focusedInput === 2" (focus)="focusedInput = 2" (blur)="focusedInput = null"
        type="password" id="userPassword" name="userPassword" placeholder="Password">
      <button [class.password-show-focused]="focusedInput === 2" type="button" (click)="showPassword = !showPassword"
        class="password-show">
        <fa-icon [icon]="showPassword ? ['fas', 'eye'] : ['fas', 'eye-slash']" aria-hidden="true"></fa-icon>
      </button>
    </div>
    <button type="submit"></button>
    <div class="link-container">
      <span class="membership">Not a member? </span>
      <a class="link-lr" href="#" routerLink="/register">Register</a>
    </div>
  </form>
</div>
