<app-sidebar></app-sidebar>
<button *ngIf="mobile" type="button" class="hamburger-menu-button" (click)="this.sidebar.sidebarExpanded = true;">
  <i class="fas fa-bars text-white"></i>
</button>
<div class="d-flex justify-content-between flex-column align-items-center fixed w-100 home">
  <div class="header d-flex justify-content-center flex-column align-items-center fixed w-100">
    <h1 class="site-title text-white">KingOfChess</h1>
    <h2 class="site-motto text-white">Master Your Strategy, Conquer The Board!</h2>
  </div>
  <div class="d-flex flex-column align-items-center justify-content-center w-100 text-white">
    <p class="h1 subtitle">What can you find here?</p>
    <div class="d-flex flex-wrap align-items-center justify-content-evenly gamemode-texts">
      <p *ngFor="let text of gamemodeTexts" class="text-center">{{text}}</p>
    </div>
    <div class="d-flex flex-wrap align-items-center justify-content-evenly card-container">
      <button class="card card-background text-white" *ngFor="let card of cards"
        (click)="this.router.navigate([card.route]);">
        <div class="card-body p-5">
          <p class="h3">{{ card.title }}</p>
          <p class="h5">How to play:</p>
          <img [src]="card.icon" width="80px" height="80px" class="img-fluid p-2">
          <p class="card-description">{{
            card.description }}</p>
          <!--<ul>
            <li *ngFor="let rule of card.rules">{{ rule }}</li>
          </ul>-->
        </div>
      </button>
    </div>
  </div>
  <button class="cta-button" (click)="this.router.navigate(['daily']);">Start solving puzzles</button>

  <div class="footer">
    <p class="footer-text">&copy; 2023 KingOfChess. All rights reserved.</p>
  </div>
</div>
