<div class="page-container">
  <div class="intro-container">
    <div class="logo-container">
      <img src="assets/icona.ico" alt="KingOfChess Logo" class="logo" />
    </div>
    <h1 class="title">KingOfChess</h1>
    <h2 class="subtitle">The chess kingdom awaits you!!</h2>
    <div class="button-container">
      <button class="login-button btn" routerLink="/login">Login</button>
      <button class="register-button btn" routerLink="/register">Registrati</button>
    </div>
  </div>
  <div class="footer">
    <p class="footer-text">&copy; 2023 KingOfChess. All rights reserved.</p>
  </div>
</div>
